.contact {
  max-width: 750px;
  margin: 0 auto;
  
  &__input {
    display: block;
    width: 100%;
    border: 0;
    margin-bottom: 20px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    font-size: 14px;
    color: #45545F;
    padding: 28px 36px;
    &:focus {
      outline: 0;
    }
    
    &--textarea {
      resize: none;
    }
  }
  
  &__submit {
    opacity: .5;
    border-color: #909BA3 !important;
    color: #909BA3 !important;
    text-transform: uppercase;
    transition: all 200ms ease;
    
    &:hover, &:focus {
      border-color: #132530 !important;
      color: #132530 !important;
    }
    &:active {
      box-shadow: none !important;
    }
  }
}
