.news {
  &__tile {
    padding: 40px !important;
  }
  
  &__more { 
    border-color: #909BA3 !important;
    color: #909BA3 !important;
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 40px;
    opacity: .5;
    transition: all 200ms ease;
    
    &:hover, &:focus {
      border-color: #132530 !important;
      color: #132530 !important;
    }
    &:active {
      box-shadow: none !important;
    }
  }
}
