.schedule-home {
  position: relative;
  
  &__tile {
    margin-bottom: 80px;
    &--last {
      margin-bottom: 20px;
    }
  }
  
  &__date {
    font-family: "Roboto Mono";
    font-weight: 700;
    color: #122530;
    font-size: 12px;
    text-transform: uppercase;
    padding: 14px;
    padding-right: 24px;
    padding-left: 24px;
    border-radius: 2em;
    display: inline-block;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    margin-bottom: 1.5em;
  }
  
  &__day {
    font-weight: 700;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    font-size: 14px;
    color: #122530;
  }
  
  &__desc {
    display: inline-block;
    color: #556772;
    max-width: 300px;
    margin-bottom: 2em;
    
  }
  
  &__more {
    font-family: "Roboto Mono";
    font-weight: 700;
    display: block;
    text-transform: uppercase;
    color: #909BA3;
    letter-spacing: .12em;
    font-size: 12px;
    transition: color 200ms ease;
    
    &::after {
      content: ' →';
    }
    &:hover, &:focus {
      color: #132530;
      text-decoration: none;
    }
  }
  
  &__line {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 21px;
    height: 4px;
    background-color: #fff;
    width: 0;
    display: none;
    @media (min-width: $screen-sm-min) {
      display: block;
      width: 500px;
    }
    @media (min-width: $screen-md-min) {
      width: 640px;
    }
    @media (min-width: $screen-lg-min) {
      width: 780px;
    }
  }
}
