.subheader {
  position: relative;
  margin-top: 60px;
  margin-bottom: 60px;
  
  &__yellow {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 50px;
    height: 4px;
    z-index: 1;
    background-color: $yellow;
  }
  
  &__header {
    color: #909BA3;
    margin: 0 auto;
    padding-top: 50px;
    text-align: center;
    font-size: 24px;
    font-family: "Roboto Mono";
    font-weight: 700;
    letter-spacing: .08em;
    @media (min-width: $screen-sm-min) {
      padding-top: 0;
    }
  }
  
  &__more {
    position: absolute;
    top: 0;
    right: 0;
    font-family: "Roboto Mono";
    font-weight: 700;
    letter-spacing: .12em;
    font-size: 12px;
    color: #909BA3;
    text-transform: uppercase;
    z-index: 1;
    transition: color 200ms ease;
    &::after {
      content: ' →';
    }
    &:hover, &:focus {
      color: #132530;
      text-decoration: none;
    }
  }
}
